wiginote/backup/zasilky/*
wiginote/backup/files/images/*
wiginote/backup/files/*
wiginote/export/*
wiginote/faktury/*
wiginote/files/images/*
wiginote/files/produkty/*
wiginote/files/*
wiginote/import/*
wiginote/mysql_export/*
wiginote/pozadi/*
wiginote/reklamace/db_export/*
wiginote/tmp/*
wiginote/var/export/cpost/*
wiginote/var/export/intime/*
wiginote/var/export/magento/*
wiginote/var/export/cpost/*
wiginote/var/img/produkty/smartstore/*
wiginote/var/img/zbozi/*
wiginote/var/import/magento/obednavky/*
wiginote/var/import/magento/produkty/*
wiginote/var/import/smartstore/produkty/*
wiginote/var/files/poznamky/*

*~
*.csv
*.sql
*.pdf
*.xml

